
@import '../../../styles/abstracts/functions';
@import '../../../styles/abstracts/variables';

.aa-home-form__container {
  display: flex;
  justify-content: center;
}

.aa-home-form__label {
  font-size: rem(20px);
}

.aa-home-form {
  display: flex;
  flex-direction: column;
}

.aa-home-form__field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(300px);
  height: rem(40px);
}

.aa-home__title {
  text-align: center;
  font-size: rem(30px);
}

.aa-home-form__input {
  height: rem(30px);
  border: rem(1px) solid $primary-background;
  border-radius: rem(5px);
}

.aa-home-form__input--error {
  border-color: $error-color;
}

.aa-home-form_error-message {
  color: $error-color;
}

.aa-home-form__button {
  border: none;
  border-radius: rem(5px);
  color: $font-color-lite;
  background-color: $primary-background;
  height: rem(30px);
  font-size: rem(20px);
}
