
@import '../../../styles/main';
@import 'button-default';
@import 'button-ghost';
@import 'button-plain';

.aa-button {
  width: rem(140px);
  border-radius: rem(5px);
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.aa-button--small {
  height: rem(26px);
  font-size: rem(14px);
}

.aa-button--medium {
  height: rem(30px);
  font-size: rem(18px);
}

.aa-button--large {
  height: rem(34px);
  font-size: rem(20px);
}
