<button type="button"
        class="aa-button"
        [ngClass]="[
          'aa-button--'+size,
          'aa-button--'+btnType,
          'aa-button--'+btnType+'-'+color
        ]"
>
  <ng-container *ngIf="icon && iconPosition==='left'">
    <span>{{icon}}</span>
    <div class="spacing--horizontal-2"></div>
  </ng-container>
  <span>{{text}}</span>
  <ng-container *ngIf="icon && iconPosition==='right'">
    <div class="spacing--horizontal-2"></div>
    <span>{{icon}}</span>
  </ng-container>
</button>
