<section class="testimonials-page">
  <div class="spacing--vertical-5"></div>
  <section class="testimonials-page__container">

    <header class="testimonials-page__header">
      <h3 class="testimonials-page__header-title">Testimonials</h3>
      <div class="spacing--vertical-2"></div>
      <div class="testimonials-page__header-authors">from ex-students</div>
    </header>
    <div class="spacing--vertical-5"></div>
    <section class="testimonials-page__body">
      <section class="testimonials-page__item" *ngFor="let testimonial of testimonials">
        <div class="testimonial-item__text">{{testimonial.testimonial}}</div>
        <div class="spacing--vertical-2"></div>
        <div class="testimonial-item__img"></div>
        <div class="spacing--vertical-2"></div>
        <div class="testimonial-item__name">{{testimonial.name}}</div>
        <div class="spacing--vertical-1"></div>
        <div class="testimonial-item__position">{{testimonial.position}}</div>
      </section>
    </section>

  </section>
</section>
