<section class="main-container">
  <div class="btn-container">
    <app-button
      [text]="'button 1'"
      [size]="'small'"
    ></app-button>
  </div>
  <div class="btn-container">
    <app-button
      [text]="'button 2'"
      [size]="'medium'"
      [icon]="'+'"
      [iconPosition]="'left'"
    ></app-button>
  </div>
  <div class="btn-container">
    <app-button
      [text]="'button 3'"
      [size]="'large'"
    ></app-button>
  </div>
  <div class="btn-container">
    <app-button
      [text]="'button 3'"
      [size]="'large'"
      [color]="'secondary'"
      [btnType]="'ghost'"
    ></app-button>
  </div>
  <div class="btn-container">
    <app-button
      [text]="'button 3'"
      [size]="'medium'"
      [color]="'danger'"
      [btnType]="'plain'"
    ></app-button>
  </div>
  <div class="btn-container">
    <app-button
      [text]="'button 3'"
      [size]="'medium'"
      [btnType]="'ghost'"
      [icon]="'+'"
    ></app-button>
  </div>
</section>
